name: npm-publish

on:
  release:
    types: [created]

jobs:
  build:
    if: github.repository == 'huaweicloud-projectman-mcp'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
          cache: npm

      - name: Install Package
        run: npm i

      - name: Lint
        run: npm run lint

      - name: Build Package
        run: npm run build

      - name: Publish NPM Package
        run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: $
